@import '../../shared/styles/variables.scss';

.movie {
    > .title {
        font-size: $text-regular;
        padding: 15px 8px 15px 8px;
        color: $color-white;
        background-color: $color-secondary;
        border-radius: 5px 5px 0px 0px;
    }

    > .content {
        padding: 5px 5px 2px 5px;
        background: $color-mid-grey;
        border-radius: 0px 0px 5px 5px;   
        text-align: center;
    }
}