@import "./app/shared/styles/button.scss";
@import "./app/shared/styles/variables.scss";

body {
    font-family: $roboto;
    min-width: 418px;    
    background: $color-default;
    padding-bottom: $large;
    margin: 0px;
}
