// Font
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;

// Text size
$text-bold: 48pt;
$text-medium: 24pt;
$text-regular: 16pt;

// Text weight
$weight-bold: 700;
$weight-medium: 500;
$weight-regular: 400;

// Colors
$color-default: #ffffff;
$color-secondary: #7a8c99;
$color-disabled: #353f4c;
$color-highlight: #ff9f1c;
$color-active: #428bca;
$color-negative: #53489c;

$color-dark: #0a1014;
$color-grey: #1b2329;
$color-mid-grey: #353f4c;
$color-light-grey: #7a8c99;
$color-white: #fff;

// Spacing
$x-small: 8px;
$small: 16px;
$medium: 24px;
$large: 32px;
