@import "./variables.scss";

button {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: $color-white;
    font-size: $text-regular;
    transition-duration: 0.4s;
    border: 2px solid $color-mid-grey;
}

.btn-active {
    background-color: $color-active;
}

.btn-active:hover {
    background-color: $color-secondary;
}

.btn-light {    
    border: none;
    background-color: transparent;
    color: $color-dark;
}

.btn-light:hover {
    background-color: $color-secondary;
    color: $color-default;
}

.btn-disable {
    background-color: $color-disabled;
    cursor: not-allowed;
}