@import '../../shared/styles/variables.scss';

.movies-list {
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $large 5px $large 5px;

        > app-movie {
            margin: 5px 10px 5px 10px !important;
            flex-grow: 1;
            width: 310px;
            max-width: 310px;
            display: table;
            border-radius: 5px;
            opacity: 0.9;
            transition: opacity 1s linear;
            animation: slide-up 1s ease;
        }
        
        > app-movie:hover {
            box-shadow: 0 0 10px;
            opacity: 1;
        }
        
        @keyframes slide-up {
            0% {
                opacity: 0;
                transform: translateY(100px);
            }
            100% {
                opacity: 0.9;
                transform: translateY(0);
            }
        }
    }
    
}